
.header {

  &__container{
    padding-top: 65px;
    padding-bottom: 70px;
  }

    &__over{
      display: flex;
      justify-content: space-between;
    }

     &__foto {
       width: 202px;
       height: 27px;

     }


     &__list {
       margin: 0;
       padding: 0;
       list-style: none;
       display: flex;
       flex-wrap: wrap;

     }
     &__contact {
       margin: 0;
       padding: 0;
       margin-left: 32px;
       list-style: none;

     }

     &__link {
       list-style: none;
       text-decoration: none;
       font-family: 'Jost';
       font-size: 14px;
       line-height: 14px;
       color: #333136;

     }
}

@media only screen and (max-width:768px) {

  .header {

  &__foto {
    width: 202px;
    height: 27px;
}
  &__contact {
    margin-left: 24px;

}

   &__link {
    font-size: 8px;
    line-height: 8px;


}

}


}
@media only screen and (max-width:580px) {
.header{


  &__foto {
    width: 202px;
    height: 27px;
}
  &__contact {
    margin-left: 18px;

}

   &__link {
    font-size: 13px;
    line-height: 13px;


}

}


}
@media only screen and (max-width:455px) {
  .header{


    &__foto {
      width: 150px;
      height: 20px;
  }
    &__contact {
      margin-left: 10px;

  }

     &__link {
      font-size: 9px;
      line-height: 9px;


  }

  }


  }

  @media only screen and (max-width:375px) {
    .header{
      &__list {
        display: none;
      }


      &__foto {
        width: 150px;
        height: 20px;
    }
      &__contact {
        margin-left: 5px;

    }

       &__link {
        font-size: 5px;
        line-height: 5px;


    }

    }


    }